@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
  /* This automatically creates bg-brand-pink, text-brand-pink, etc. */
  --color-brand-pink: #bd1469;

  /* This creates bg-brand-dark, text-brand-dark, etc. */
  --color-brand-dark: #1a1a1a;
}
